<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <center><h1>Car Information</h1></center>
    <div class="container">
        {% for car in cars %}
        <div class="car">
            <h2>{{ car.brand }} - {{ car.model }}</h2>
            <img src="{{ url_for('static', filename='images/' + car.image) }}" alt="{{ car.brand }} - {{ car.model }}">
        </div>
        {% endfor %}
    </div>
</body>
</html>
