body {
    font-family: Arial, sans-serif;
    background-color: #130202;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background: rgb(1, 140, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 150px;
    height: 300px;
    align-self: center;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin: 0;
    font-size: 1.5em;
}

.card-content p {
    color: #555;
}
